@import "../../assets/stylesheets/generic-styles.scss";

.Title {
  color: $brand;
  font-size: $font-size-title;
}

// I have to set margin as important due to materialUi styles was set as preference
// TODO: Check a better practice to this (maybe set as inline style)
.CreateTreatmentButton {
  width:45%;
}

.FormContainer {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 3rem;
  height: 450px;
}

.AddTreatmentIcon,
.helpIcon {
  padding: 10px;
}

.helpIcon {
  margin: 10px 0;
}

.tooltip {
  background-color: $grey-background !important;
  color: $info !important;
  font-size: 16px !important;
}

.error {
  color: $danger;
  padding-top: 5px;
}

.CardsContainer {
  width: 80% !important;
  justify-content: space-around;
}

.warningTreatments {
  font-size: 14px !important;
  color: $brand;
  text-align: left;
}
.TextButton{
  font-size: 12px !important;
}
.SubmitButton {
  background-color: $success !important;
  width:45%
}

.SubmitButton[disabled] {
  background-color: $disabled-button-grey !important;
  font-size: 15px !important;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18%;
  height: 11%;
}
