@import "../../assets/stylesheets/generic-styles.scss";

.CardsContainer {
  width: 90%;
}

.CardTreatment {
  max-width: 300px;
  margin: auto;
  border-radius: 10px !important;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25) !important;
}

.Carditem {
  color: $brand-dark;
}

.DeleteAction {
  display: block !important;
}

.DeleteButton {
  color: $danger-dark !important;
}
