@import "../../assets/stylesheets/generic-styles.scss";

.ProgressText {
  font-family: $primary-font-family;
  color: $brand-dark;
  font-size: $font-size-title !important;
  font-weight: bold !important;
}

.CircularAnimation {
  width: 70px !important;
  margin: 40px;
}