@import '../../assets/stylesheets/generic-styles.scss';

.nav_link {
  top: 0;
  left: 0;
  height: 100vh;
  width: 15%;
  position: fixed;
  background-color: #1976d2;
  z-index: 1;
  padding: 10rem 0;
  flex-direction: column;
  display: flex;
}
.no_nav_link {
  display: None;
}

.link {
  text-decoration: none;

  :hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.menu_icon {
  position: relative;
  z-index: 3;
}

.nav_items {
  display: flex;
  justify-content: start;
  flex-direction: column;
  text-decoration: None;
  margin-left: 3%;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  color: #ffff
}

.icons {
  margin: 10px;
  color: #ffff !important;
  pointer-events: none !important
}