@import "../../assets/stylesheets/generic-styles.scss";

.CardWarning {
  max-width: 500px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px !important;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25) !important;
}

.Carditem {
  color: $brand-dark;
}

.warningIcon {
  color: $warning;
  width: 35px !important;
  height: 35px !important;
}
