@import "../../assets/stylesheets/generic-styles.scss";

.FormContainer {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 3rem;
}

.ButonContainer {
  margin: auto 0;
}

.Title {
  color: $brand;
  font-size: $font-size-title;
}

.SubmitButton {
  margin-top: 5% !important;
  background-color: $success !important;
}
