@import "../../assets/stylesheets/generic-styles.scss";

.FormContainer {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 3rem;
}

.ButonContainer {
  margin: 10px 0;
}

.Title {
  color: $brand;
  font-size: $font-size-title;
}

.SubmitButton {
  margin-top: 5% !important;
  background-color: $success !important;
}

.Field {
  background-color: white;
  margin: 0 10px !important;
}

.Form {
  display: flex;
  align-items: center;
}

.Table {
  background-color: white;
  margin: 30px;
  width: 50% !important;
}

.TableHeader {
  background-color: $brand-extra-light;
}

.DeleteIcon {
  color: $danger;
}

.CheckIcon {
  color: $success;
}

.EditIcon {
  color: $info;
}