@import "../../assets/stylesheets/generic-styles.scss";

.PatientsContainer {
  padding: 10px;
  margin-top: 30px;
  background-color: white;
}

.ButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  a {
    margin: 5px;
  }
}

.PatientImage {
  width: 175px;
}

.ImageContainer {
  display: flex;
}

.CreatePatientButton {
  background-color: grey;
}

.PatientsInfo {
  padding: 0 10px;
  h2 {
    font-size: $font-size-body-big;
    font-weight: 400;
  }
  h3 {
    font-size: $font-size-body-big;
  }
}

.HomeSectionTitle {
  font-size: $font-size-subtitle;
  margin: 10px;
}

.TeamContainer {
  background-image: url("../../assets/images/backgroundTeam.jpg");
  margin: 30px;
}

.CardContainer {
  display: flex;
}
