@import "../../assets/stylesheets/generic-styles.scss";

.TeamContainer {
  background-image: url("../../assets/images/backgroundTeam.jpg");
  margin: 30px;
}

.CardContainer {
  display: flex;
}

.CardsFeaturesContainer {
  display: flex;
}
