@import "../../../assets/stylesheets/generic-styles.scss";

.CardsContainer {
  width: 90%;
}

.CardTreatment {
  max-width: 300px;
  margin: auto;
}

.Carditem {
  color: $brand-dark;
}

.CardTitle {
  font-weight: bold !important;
  font-size: 18px !important;
  color: $brand-dark;
}
