@import "../../assets/stylesheets/generic-styles.scss";

.FormContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 50px 40px;
}

.PageContainer {
  max-width: 100%;
  margin: 20px;
}

.Title {
  font-size: $font-size-title;
  margin: 0px;
}

.SubTitle {
  font-size: $font-size-subtitle;
  margin: 0px;
}

.Loading {
  margin: 5rem auto;
}

.CardsContainer {
  width: 90%;
}

.Carditem {
  color: $brand-dark;
}

.results {
  display: flex;
  flex-direction: row;
}

.metricsResults {
  margin: 0 50px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    font-size: 12px;
  }
}

.simulationResults {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  .FormContainer {
    margin: 0 auto 20px auto;
  }
}

.TreatmentContainer {
  justify-content: center;
}
