@import '../../assets/stylesheets/generic-styles.scss';

.Title {
  color: $brand;
  font-size: $font-size-title;
}

.FormContainer {
  margin: 2rem auto;
  align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 750px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: 3rem;
}

.CardSimulation {
  max-width: 300px;
  margin: auto;
}

.Carditem {
  color: $brand-dark;
  font-size: $font-size-body-big !important;
}

.DeleteAction {
  display: block !important;
}

.SimulationContainer {
  background-color: aliceblue;
  width: 40%;
  margin: 25px 0;
  border: 2px solid $brand-dark;
  padding: 10px;
  border-radius: 25px;
}

.Treatmentsubtitle {
  font-size: $font-size-subtitle !important;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

.DeleteButton {
  color: $danger-dark !important;
}
