@import '../../assets/stylesheets/generic-styles.scss';

.fieldContainer {
  padding: 20px;
}

.Title {
  color: $blue-title;
}

// I have to set margin as important due to materialUi styles was set as preference
// TODO: Check a better practice to this (maybe set as inline style)
.SubmitButton {
  width: 50%;
  margin: auto !important;
}


.AddClientIcon {
  padding: 10px;
}

.error{
  color: $red-error;
  padding-top: 5px;
}
