.App {
  text-align: center;
}

.App-header {
  // (Height of the viewport - height of the navbar)
  // TODO: update this after include the footer
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

