@import "../../assets/stylesheets/generic-styles.scss";

.CardMetrics {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 10px;
  height: 460px;
  border-radius: 10px !important;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25) !important;
}

.CardTitle {
  font-weight: bold !important;
  font-size: $font-size-subtitle !important;
}

.TreatmentTab {
  font-size: $font-size-body !important;
}

.MetricImage {
  width: 70%;
}

.CardItem {
  color: $brand-dark;
  display: flex;
  justify-content: center;
  padding: 5px;
  p {
    font-size: $font-size-body-big;
  }
}
