@import "../../assets/stylesheets/generic-styles.scss";

.NavBarContainer {
  height: 50px;
  justify-content: space-between ! important;
}

.NavbarTitle {
  font-family: $primary-font;
}

.MedicalIcon{
  margin-right: 3%;
}

.Icon {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
 
}
