/*
  Add colors as variables here like this:

  $color-name: #000000;

*/

$grey-background: #f7f9fc;

$extra-dark-grey: #4d4c4c;
$dark-grey: #696969;
$silver-grey: #a9a9a9;
$disabled-button-grey: #c3c5c9;

// BRAND COLORS
$brand-background: #d5e9fd;
$brand-extra-light: #acd1fb;
$brand-light: #81b3f5;
$brand: #306fe0;
$brand-dark: #183fa1;

// SUCCESS COLORS
$success-light: #a3d244;
$success: #79b512;
$success-dark: #4c8209;

// INFO COLORS
$info-light: #66e7fa;
$info: #04b1ef;
$info-dark: #0267ac;

// WARNING COLORS
$warning-light: #ffbd48;
$warning: #ff9e0c;
$warning-dark: #b76206;

// DANGER COLORS
$danger-light: #ff7961;
$danger: #ff3b2d;
$danger-dark: #b71626;
$red-error: #e2244d;
$red-delete-button: #bb260c;

// SEX COLORS
$male: #127a1e;
$female: #921407;

// BREADCRUMBS
$blue-gray: #34495e;
$blue-gray-darken: #2c3e50;
$blue: #3498db;
$blue-darken: #2980b9;
$green: #1abc9c;
$green-darken: #16a085;
