/*
  Add colors as variables here like this:

  $color-name: #000000;

*/

$grey-background: #f7f9fc;

$disabled-button-grey: #c3c5c9;

// BRAND COLORS
$brand-background: #D5E9FD;
$brand-light: #81B3F5;
$brand: #306fe0;
$brand-dark: #183FA1;

// SUCCESS COLORS
$success-light: #A3D244;
$success: #79B512;
$success-dark: #4C8209;

// INFO COLORS
$info-light: #66E7FA;
$info: #04B1EF;
$info-dark: #0267AC;

// WARNING COLORS
$warning-light: #FFBD48;
$warning: #FF9E0C;
$warning-dark: #B76206;

// DANGER COLORS
$danger-light: #FF7961;
$danger: #FF3B2D;
$danger-dark: #B71626;
