/*
  All generic variables go here. Please avoid
  adding code that generates CSS in this file.
*/

// Fonts
$primary-font-family: 'MarkPro', Roboto;
$primary-font: $primary-font-family, Arial, sans-serif;
$font-size-title: 40px;
$font-size-subtitle: 24px;
$font-size-body-big: 20px;
$font-size-body: 16px;
$font-size-secondary-text: 14px;

// Margins & paddings
$padding-button: 10px;

